<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | About</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="about nonbackground content">
            <div class="container">
                <h1 class="title-page">
                    Empowering Creators
                </h1>
                <p class="desc-page text-font">
                    Our goal is to deliver the most powerful tool into the hands of creators, to finalize their work in the fastest and most convenient way.
                </p>
                <div class="content-wrap">
                    <div class="download-advantages">
                        <div class="da-el">
                            <div class="da-el_img">
                                <img src="img/content/about1.png" alt="icon">
                            </div>
                            <p class="da-el_title">
                                Under Control
                            </p>
                            <p class="da-el_desc text-font">
                                Leonardo Render gives you the
                                freedom to customize the GPU set,
                                based on your needs and budget.
                                You can select the GPU from the
                                Leonardo Software and have
                                instant cost calculation.
                            </p>
                        </div>
                        <div class="da-el">
                            <div class="da-el_img">
                                <img src="img/content/about2.png" alt="icon">
                            </div>
                            <p class="da-el_title">
                                Unlock The Creativity
                            </p>
                            <p class="da-el_desc text-font">
                                We understand the frustration in
                                limiting the quality of your work to
                                speed up the rendering time, and
                                built Leonardo to eliminate the
                                need to compromise. Now you
                                can push elements like resolution,
                                detail and texture to the next level
                                and still hit your deadline.
                            </p>
                        </div>
                        <div class="da-el">
                            <div class="da-el_img">
                                <img src="img/content/about3.png" alt="icon">
                            </div>
                            <p class="da-el_title">
                                Greater Confidence
                            </p>
                            <p class="da-el_desc text-font">
                                Your tools are central in Your workflow,
                                for this reason We reduced at zero the
                                amount of processes required for
                                cloud rendering. Leonardo Render will integrate into your own workflow without friction.Launch the rendering and see
                                the result on Your software, as You
                                always do.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>