<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | Downloads</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="download nonbackground content">
            <div class="container">
                <h1 class="title-page">
                    Downloads
                </h1>
                <p class="desc-page text-font">
                    The first step in getting started with Leonardo is to download our software. Click the appropriate download link below to begin. Once you have the app downloaded, open it and follow the onscreen instructions. 
                </p>
                <div class="content-wrap">
                    <div class="download-group">
                        <div class="download-mac download-btn">
                            <a href="downloadDetails.html">
                                <img src="img/content/apple.png" alt="download">
                                <span>Mac Download Details</span>
                            </a>
                        </div>
                        <div class="download-pc download-btn">
                            <a href="downloadDetails.html">
                                <img src="img/content/windows.png" alt="download">
                                <span>PC Download Details</span>
                            </a>
                        </div>
                    </div>
                    <div class="download-advantages">
                        <div class="da-el">
                            <div class="da-el_img">
                                <img src="img/content/downloads1.png" alt="icon">
                            </div>
                            <p class="da-el_title">
                                Instant Results
                            </p>
                            <p class="da-el_desc text-font">
                                Once your source file is linked, the render file will be constantly updated. You’ll always have access to the most recent version of your rendered project
                            </p>
                        </div>
                        <div class="da-el">
                            <div class="da-el_img">
                                <img src="img/content/downloads2.png" alt="icon">
                            </div>
                            <p class="da-el_title">
                                Unlimited Files
                            </p>
                            <p class="da-el_desc text-font">
                                Working on several projects at once? No problem. With Leonardo Render, you can render as many files each month as you would like. Just don’t be a jackass.
                            </p>
                        </div>
                        <div class="da-el">
                            <div class="da-el_img">
                                <img src="img/content/downloads3.png" alt="icon">
                            </div>
                            <p class="da-el_title">
                                100% Satisfaction
                            </p>
                            <p class="da-el_desc text-font">
                                We’re here to help. If you encounter any trouble with our platform, let us know through the site’s live chat and we’ll get you unblocked immediately.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>