<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | Portfolio</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="faq nonbackground content">
            <div class="container">
                <h1 class="title-page">
                    FAQ
                </h1>
                <p class="desc-page text-font">
                    Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Si longus, levis dictata sunt.
                </p>
                <div class="content-wrap">
                    <ul class="faq-list">
                        <li class="faq-el">
                            <p class="faq-title open">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </p>
                            <p class="faq-desc text-font">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At assumenda ratione suscipit nostrum ex. Temporibus dolorum atque omnis voluptatum id, unde odit quod. Dignissimos quidem temporibus illum magnam tempore minima.
                            </p>
                        </li> 
                        <li class="faq-el">
                            <p class="faq-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </p>
                            <p class="faq-desc text-font">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At assumenda ratione suscipit nostrum ex. Temporibus dolorum atque omnis voluptatum id, unde odit quod. Dignissimos quidem temporibus illum magnam tempore minima.
                            </p>
                        </li>
                        <li class="faq-el">
                            <p class="faq-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </p>
                            <p class="faq-desc text-font">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At assumenda ratione suscipit nostrum ex. Temporibus dolorum atque omnis voluptatum id, unde odit quod. Dignissimos quidem temporibus illum magnam tempore minima.
                            </p>
                        </li>
                        <li class="faq-el">
                            <p class="faq-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </p>
                            <p class="faq-desc text-font">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At assumenda ratione suscipit nostrum ex. Temporibus dolorum atque omnis voluptatum id, unde odit quod. Dignissimos quidem temporibus illum magnam tempore minima.
                            </p>
                        </li>
                        <li class="faq-el">
                            <p class="faq-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </p>
                            <p class="faq-desc text-font">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At assumenda ratione suscipit nostrum ex. Temporibus dolorum atque omnis voluptatum id, unde odit quod. Dignissimos quidem temporibus illum magnam tempore minima.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>