<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | ICO</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="ico content-box">
            <div class="container">
                <div class="ico-wrap">
                    <div class="ico-img">
                        <img src="img/content/ico-main-img.png" alt="ico">
                    </div>
                    <div class="ico-text">
                        <div class="ico-logo">
                            <img src="img/content/ico-logo.png" alt="logo">
                        </div>
                        <h1 class="render-title ico-title">
                            <span>Rendering</span>
                            Reimagined.
                        </h1>
                        <p class="ico-desc text-font ico-marg">
                            Leonardo is the world’s most advanced decentralized supercomputer protocol for graphical rendering. Large-scale miners earn LEOS tokens 
                            by proving GPU power to render customers, and render customers use Leonardo’s cloud-based software to complete renderings, in real time, 
                            on their computer. Please join us in the rendering revolution.   
                        </p>
                        <div class="ico-progress">
                            <p class="progress-title">
                                Amount Raised
                            </p>
                            <p class="progress-member">
                                $780K / 1.2M
                            </p>
                            <div class="progress-data" data-part="780000" data-full="1200000">
                                <span class="data-part"></span>
                            </div>
                        </div>
                        <div class="ico-progress">
                            <p class="progress-title">
                                Days Remaining
                            </p>
                            <p class="progress-member">
                                30 / 45
                            </p>
                            <div class="progress-data" data-part="30" data-full="45">
                                <span class="data-part"></span>
                            </div>
                        </div>
                        <div class="render-btn">
                            <a href="#">
                                Participate Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-main content-box">
            <div class="container">
                <div class="about-main-wrap">
                    <div class="about-main-text">
                        <h2 class="render-title change-color ico-title">
                            <span>About</span>
                            Leonardo.
                        </h2>
                        <hr class="render-line ico-line">
                        <p class="ico-desc text-font change-color">
                            Leonardo’s blockchain-based supercompute protocol provides customers with the fastest, simplest, and most affordable cloud-based rendering solution on the market. 
                        </p>
                        <p class="ico-desc text-font change-color">
                            Using Leonardo’s desktop application, artists, designers, manufacturers, and corporations of every size and scale will be able to purchase the compute power needed to complete a render, without ever sending their work to a service provider. This system offers both an unparalleled user experience and a high level of intellectual property security.
                        </p>
                        <p class="ico-desc text-font change-color">
                            In addition to operating as a method of transaction, the LEOS token will give individuals access to render miners. This way - although providers of Leonardo compute power will be limited to large-scale GPU aggregators - individuals will be able to share in the reward of render mining by using LEOS tokens to gain access to miners in GPU hosting facilities. 
                        </p>
                        <div class="render-btn about-main-btn">
                            <a href="about.html">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="ico-img">
                        <img src="img/content/about-img.png" alt="ico">
                    </div>
                </div>
            </div>
        </div>
        <div class="problem content-box">
            <div class="container">
                <div class="problem-wrap">
                    <h3 class="problem-title">
                        Problem <span>Definition.</span>
                    </h3>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem1.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Slow Process
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Using the current market leaders in the cloud-based rendering space, it can take up to 24 hours to render a single image, and up to 1 month to render 1 second of animation.
                            </p>
                        </div>
                    </div>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem2.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                IP Theft
                            </p>
                            <p class="problem-el-text_desc text-font">
                                All current cloud-based rendering solutions require work to be either uploaded or accessed remotely, leaving billions of dollars of intellectual property susceptible to theft by hackers.
                            </p>
                        </div>
                    </div>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem3.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Hardware Costs
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Multiple GPU’s are prohibitively expensive for the average consumer - a single GPU can cost up to $1,200.00 USD – and requires an immense amount of electricity.
                            </p>
                        </div>
                    </div>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem4.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Work Flow
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Creators want to work using their own tools, but all current cloud render solutions force creators to work in remote, creating problematic conditions for CG operators. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-mission content-box">
            <div class="container">
                <div class="mission-wrap">
                    <div class="mission-text">
                        <h2 class="render-title ico-title">
                            Our <span>Mission.</span>
                        </h2>
                        <hr class="render-line ico-line">
                        <p class="ico-desc text-font">
                            Just about every industry on earth uses rendering in some part of their supply chain. Aerospace, healthcare, and manufacturing all procure rendering services at some point in their operation cycle, and while we’re all visual effects geeks who would love to make the production of sci-fi space epics cost-effective for indie filmmakers, we would also like to pass on lower costs of just about everything to consumers. 
                        </p>
                        <p class="ico-desc text-font text-semibold">
                            Leonardo is not just rendering for the people; it’s value to the people!
                        </p>
                    </div>
                    <div class="mission-video dd-video video-center">
                        <!-- <div id="video-placeholder"></div> -->
                        <a href="#" class="video-el modal-youtube youtube-btn">
                            <p class="youtube-id">SfLV8hD7zX4</p>
                            <div class="video-el_img"></div>
                            <p class="video-el_name">Tutorial Title</p>
                            <div class="video-init" id="SfLV8hD7zX4"></div>
                            <p class="video-el_time"></p>
                            <p class="video-el_desc text-font">
                                Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="problem content-box">
            <div class="container">
                <div class="problem-wrap">
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem2_1.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Speed
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Leonardo provides the fastest cloud-based rendering process on the planet. Users will be able to select the amount of GPU’s employed in the completion of their render. The more GPU’s selected, the faster the render will complete. 
                            </p>
                        </div>
                    </div>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem2_2.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Intellectual Property Protection
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Because your render is completed on your computer, your intellectual property never leaves your computer. Period.
                            </p>
                        </div>
                    </div>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem2_3.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Cost Effective
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Rendering through Leonardo costs $.50 per GPU each hour. In contrast, the largest provider of clod-based rendering, Amazon Web Services, charges X per GPU per Hour.
                            </p>
                        </div>
                    </div>
                    <div class="problem-el">
                        <div class="problem-el-img">
                            <img src="img/content/problem2_4.png" alt="icon">
                        </div>
                        <div class="problem-el-text">
                            <p class="problem-el-text_title">
                                Scalable
                            </p>
                            <p class="problem-el-text_desc text-font">
                                Leonardo’s blockchain-based protocol allows for a limitless amount of decentralized compute power at a near-zero marginal onboarding cost.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-diagram content-box">
            <div class="container">
                <div class="ico-diagram-wrap">
                    <div class="diagram-line"></div>
                    <div class="start-row">
                        <div class="start-el">
                            <div class="diagram-software">
                                <span>Leonardo Software</span>
                            </div>
                        </div>
                        <div class="start-el">
                            <div class="diagram-user">
                                <span>User</span>
                            </div>
                        </div>
                        <div class="start-el"></div>
                    </div>
                    <div class="middle-row">
                        <div class="middle-el">
                            <div class="middle-el-wrap">
                                Access to Service
                            </div>
                            <span class="coub">
                                <img src="img/content/coub-big.png" alt="coub">
                            </span>
                        </div>
                        <div class="middle-el">
                            <div class="middle-el-wrap soft-connect">
                                GPU Selection
                            </div>
                            <span class="coub">
                                <img src="img/content/coub-big.png" alt="coub">
                            </span>
                        </div>
                        <div class="middle-el">
                            <div class="middle-el-wrap">
                                Task Distribution
                            </div>
                            <span class="coub">
                                <img src="img/content/coub-big.png" alt="coub">
                            </span>
                        </div>

                        <div class="diagram-line"></div>
                        <p class="diagram-title">
                            Leonardo Backend
                        </p>
                    </div>
                    <div class="end-row">
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <span class="icon-coub-normal"></span>
                        <div class="end-line"></div>
                        <p class="diagram-title">
                            Giga-Watt
                        </p>
                        <p class="diagram-title middle-member">
                            Miners
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="documents content-box">
            <div class="container">
                <div class="documents-wrap">
                    <div class="documents-text">
                        <h2 class="render-title ico-title">
                            Documents.
                        </h2>
                        <hr class="render-line ico-line">
                        <p class="ico-desc text-font">
                            If you’re interested in learning more about Leonardo, please click on our materials here.
                        </p>
                    </div>
                    <div class="documents-advantages">
                        <div class="documents-el">
                            <div class="document-el_img">
                                <img src="img/content/documents-img.png" alt="document">
                            </div>
                            <div class="document-el_title">
                                Whitepaper
                            </div>
                        </div>
                        <div class="documents-el">
                            <div class="document-el_img">
                                <img src="img/content/documents-img.png" alt="document">
                            </div>
                            <div class="document-el_title">
                                Downloadable one-pager
                            </div>
                        </div>
                        <div class="documents-el">
                            <div class="document-el_img">
                                <img src="img/content/documents-img.png" alt="document">
                            </div>
                            <div class="document-el_title">
                                Token Sale Terms & Conditions
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-render content-box">
            <div class="container">
                <div class="ico-render-wrap">
                   <h2 class="render-title ico-title text-center">
                        Why Leonardo Render
                    </h2>
                    <div class="company">
                        <div class="company-el">
                            <div class="company-el_img">
                                <img src="img/content/company-img.png" alt="company">
                            </div>
                            <p class="company-name">
                                Company Name
                            </p>
                            <p class="company-desc text-font">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quae tandem ista ratio est? Sed haec in pueris; Philosophi autem in suis lectulis plerumque moriuntur. 
                            </p>
                        </div>
                        <div class="company-el">
                            <div class="company-el_img">
                                <img src="img/content/company-img.png" alt="company">
                            </div>
                            <p class="company-name">
                                Company Name
                            </p>
                            <p class="company-desc text-font">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quae tandem ista ratio est? Sed haec in pueris; Philosophi autem in suis lectulis plerumque moriuntur. 
                            </p>
                        </div>
                    </div>
                    <div class="video-list">
                        <a href="#" class="video-el modal-youtube youtube-btn">
                            <p class="youtube-id">Xa0Q0J5tOP0</p>
                            <div class="video-el_img"></div>
                            <p class="video-el_name">Tutorial Title</p>
                            <div class="video-init" id="Xa0Q0J5tOP0"></div>
                            <p class="video-el_time"></p>
                            <p class="video-el_desc text-font">
                                Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                            </p>
                        </a>
                        <a href="#" class="video-el modal-youtube youtube-btn">
                            <p class="youtube-id">xpyrefzvTpI</p>
                            <div class="video-el_img"></div>
                            <p class="video-el_name">Tutorial Title</p>
                            <div class="video-init" id="xpyrefzvTpI"></div>
                            <p class="video-el_time" ></p>
                            <p class="video-el_desc text-font">
                                Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                            </p>
                        </a>
                        <a href="#" class="video-el modal-youtube youtube-btn">
                            <p class="youtube-id">VGfGxqHPF0s</p>
                            <div class="video-el_img"></div>
                            <p class="video-el_name">Tutorial Title</p>
                            <div class="video-init" id="VGfGxqHPF0s"></div>
                            <p class="video-el_time"></p>
                            <p class="video-el_desc text-font">
                                Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                            </p>
                        </a>
                        <a href="#" class="video-el modal-youtube youtube-btn">
                            <p class="youtube-id">0-evZfb-wuM</p>
                            <div class="video-el_img"></div>
                            <p class="video-el_name">Tutorial Title</p>
                            <div class="video-init" id="0-evZfb-wuM"></div>
                            <p class="video-el_time"></p>
                            <p class="video-el_desc text-font">
                                Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-team content-box">
            <div class="container">
                <div class="ico-team-wrap">
                    <h2 class="render-title ico-title text-center">
                        Our Team
                    </h2>
                    <h4 class="ico-subtitle text-center">
                        Management
                    </h4>
                    <div class="team-list">
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face1.jpg" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face2.jpg" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face3.png" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face4.png" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="ico-subtitle text-center">
                        Key Members
                    </h4>
                    <div class="team-list">
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face1.jpg" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face2.jpg" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face3.png" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face4.png" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-token content-box">
            <div class="container">
                <div class="ico-token-wrap">
                     <h2 class="render-title change-color ico-title">
                        Token Sale: <span>5 Dec - 1 Mar</span>
                    </h2>
                    <hr class="render-line ico-line">
                    <div class="ico-token-list">
                        <div class="ico-token-el">
                            <p class="text-font">
                                Ticker: <span>Berry</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Token Type: <span>ERC20</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                ICO Token Price: <span>1 Berry = 0.35 USD (0.00040 ETH)</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Fundraising Goal: <span>30,000,000 USD</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Sold on Pre-sale: <span>4,000,000 USD</span> <span class="ico-token-small">(Seed round, not related to ICO)</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Total Tokens: <span>400,000,000</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Available for Token Sale: <span>70%</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Whitelist: <span>No</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Know Your Customer (KYC): <span>Yes</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Bonus for the First: <span>Up to 33%</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Min/Max Personal Cap: <span>.1 ETH / TBA</span>
                            </p>
                        </div>
                        <div class="ico-token-el">
                            <p class="text-font">
                                Accepts: <span>ETH, BTC</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-roadmap content-box">
            <div class="container">
                <div class="ico-roadmap-wrap">
                    <h2 class="render-title ico-title text-center">
                        Roadmap.
                    </h2>
                    <p class="ico-subtext text-marg text-font">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Verba tu fingas et ea dicas, quae non sentias.
                    </p>
                    <div class="roadmap">
                        <div class="roadmap-line"></div>
                        <div class="roadmap-group">
                            <p class="roadmap-year">
                                2014
                            </p>
                            <div class="roadmap-event">
                                <div class="event-wrap">
                                    <p class="event-title">
                                        New Project Approved
                                    </p>
                                    <p class="event-desc text-font">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Verba tu fingas et ea dicas,
                                        quae non sentias.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-group">
                            <p class="roadmap-year">
                                2015
                            </p>
                            <div class="roadmap-event">
                                <div class="event-wrap">
                                    <p class="event-title">
                                        Important Partnership
                                    </p>
                                    <p class="event-desc text-font">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Verba tu fingas et ea dicas,
                                        quae non sentias.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-group">
                            <p class="roadmap-year">
                                2016
                            </p>
                            <div class="roadmap-event">
                                <div class="event-wrap">
                                    <p class="event-title">
                                        #1 Award Winner
                                    </p>
                                    <p class="event-desc text-font">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Verba tu fingas et ea dicas,
                                        quae non sentias.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-group">
                            <p class="roadmap-year">
                                2017
                            </p>
                            <div class="roadmap-event">
                                <div class="event-wrap">
                                    <p class="event-title">
                                        Product Launch
                                    </p>
                                    <p class="event-desc text-font">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Verba tu fingas et ea dicas,
                                        quae non sentias.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ico-subscribe content-box">
            <div class="container">
                <div class="ico-subscribe-wrap">
                    <h2 class="render-title ico-title text-center change-color">
                        Leonardo Mailing List.
                    </h2>
                    <p class="ico-subtext text-marg text-font change-color">
                        Subscribe to our email list to receive news and updates.
                    </p>
                    <form class="ico-form">
                        <div class="form-group ico-form-group">
                            <input type="email" placeholder="Enter Email Address" class="ico-form-input text-font" required>
                        </div>
                        <div class="form-btn ico-form-btn">
                            <button class="text-font">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ico class="ico-social content-box">
            <div class="container">
                <div class="ico-social-wrap">
                    <a href="#" class="ico-social-el">
                        <div class="ico-social-el_img">
                            <img src="img/content/social-telegram.png" alt="social">
                        </div>
                        <p class="ico-social-el_name">
                            Telegram
                        </p>
                    </a>
                    <a href="#" class="ico-social-el">
                        <div class="ico-social-el_img">
                            <img src="img/content/social-twitter.png" alt="social">
                        </div>
                        <p class="ico-social-el_name">
                            Twitter
                        </p>
                    </a>
                    <a href="#" class="ico-social-el">
                        <div class="ico-social-el_img">
                            <img src="img/content/social-github.png" alt="social">
                        </div>
                        <p class="ico-social-el_name">
                            Github
                        </p>
                    </a>
                    <a href="#" class="ico-social-el">
                        <div class="ico-social-el_img">
                            <img src="img/content/social-fb.png" alt="social">
                        </div>
                        <p class="ico-social-el_name">
                            Facebook
                        </p>
                    </a>
                    <a href="#" class="ico-social-el">
                        <div class="ico-social-el_img">
                            <img src="img/content/social-ln.png" alt="social">
                        </div>
                        <p class="ico-social-el_name">
                            LinkedIn
                        </p>
                    </a>
                    <a href="#" class="ico-social-el">
                        <div class="ico-social-el_img">
                            <img src="img/content/social-medium.png" alt="social">
                        </div>
                        <p class="ico-social-el_name">
                            Medium
                        </p>
                    </a>
                </div>
            </div>
        </ico>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/modal-youtube.html" %}
    {% include "partials/scripts.html" %}
    <script>
        var youEl, yourElTime
        var player = []
        let arrMasTime = [];
        let countEl = 0;
        function onYouTubeIframeAPIReady() {
            $('.video-el').each((i, el) => {
                yourEl = $(el).find('.youtube-id').text()
                yourElTime = $(el).find('.video-el_time')
                arrMasTime.push(yourElTime);
                player[i] = new YT.Player(yourEl, {
                    width: '100%',
                    height: '100%',
                    videoId: yourEl,
                    events: {
                        onReady: (event) => {
                            updateTimerDisplay(event, countEl)
                            countEl++
                        }
                    }
                })
            });
        }

        function updateTimerDisplay(event, i){
            $(arrMasTime[i]).text(formatTime(event.target.getDuration()));
        }

        function formatTime(time){
            time = Math.round(time);
            minutes = Math.floor(time / 60),
            seconds = time - minutes * 60;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            return minutes + ":" + seconds;
        }  
    </script>

</body>
</html>