<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | Portfolio</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="about nonbackground content">
            <div class="container">
                <h1 class="title-page">
                    Portfolio
                </h1>
                <p class="desc-page text-font">
                    Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Si longus, levis dictata sunt.
                </p>
                <div class="content-wrap">
                    <div class="team-list">
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/portfolio1.jpg" alt="portfolio">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Client Name
                                </p>
                                <p class="info-status">
                                    Project Type
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="project.html">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/portfolio2.jpg" alt="portfolio">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Client Name
                                </p>
                                <p class="info-status">
                                    Project Type
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="project.html">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/portfolio3.jpg" alt="portfolio">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Client Name
                                </p>
                                <p class="info-status">
                                    Project Type
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="project.html">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/portfolio4.jpg" alt="portfolio">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Client Name
                                </p>
                                <p class="info-status">
                                    Project Type
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="project.html">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/portfolio5.jpg" alt="portfolio">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Client Name
                                </p>
                                <p class="info-status">
                                    Project Type
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="project.html">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/portfolio6.jpg" alt="portfolio">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Client Name
                                </p>
                                <p class="info-status">
                                    Project Type
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="project.html">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>