<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | Project</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="project">
            <div class="project-logo">
                <img src="img/content/project-main.jpg" alt="logo">
            </div>
            <div class="container">
                <div class="project-wrap">
                    <div class="project-title">
                        <p class="client-name">
                            Client Name
                        </p>
                        <p class="project-name">
                            Project Name
                        </p>
                    </div>
                    <div class="project-advantages">
                        <div class="pa-el">
                            <p class="pa-el_numb text-font">
                                0:22
                            </p>
                            <hr class="pa-el_line">
                            <p class="pa-el_title text-font text-semibold">
                                Rendering Time
                            </p>
                        </div>
                        <div class="pa-el">
                            <p class="pa-el_numb text-font">
                                12,345
                            </p>
                            <hr class="pa-el_line">
                            <p class="pa-el_title text-font text-semibold">
                                Number of Frames
                            </p>
                        </div>
                        <div class="pa-el">
                            <p class="pa-el_numb text-font">
                                8%
                            </p>
                            <hr class="pa-el_line">
                            <p class="pa-el_title text-font text-semibold">
                                GPU Used
                            </p>
                        </div>
                        <div class="pa-el">
                            <p class="pa-el_numb text-font">
                                12%
                            </p>
                            <hr class="pa-el_line">
                            <p class="pa-el_title text-font text-semibold">
                                3D Engine Used
                            </p>
                        </div>
                    </div>
                    <div class="project-description">
                        <p class="pd-title">
                            Lorem Ipsum Dolore Su Anum
                        </p>
                        <p class="pd-desc text-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ratio quidem vestra sic cogit. Quis Aristidem non mortuum diligit? Iubet igitur nos Pythius Apollo noscere nosmet ipsos. Sit enim idem caecus, debilis. Duo Reges: constructio interrete. Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum.
                        </p>
                        <p class="pd-desc text-font">
                            Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Si longus, levis dictata sunt. Scripta sane et multa et polita, sed nescio quo pacto auctoritatem oratio non habet. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Ratio quidem vestra sic cogit.
                        </p>
                        <div class="pd-img">
                            <img src="img/content/project-mid.jpg" alt="project image">
                        </div>
                        <p class="pd-desc text-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ratio quidem vestra sic cogit. Quis Aristidem non mortuum diligit? Iubet igitur nos Pythius Apollo noscere nosmet ipsos. Sit enim idem caecus, debilis. Duo Reges: constructio interrete. Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum.
                        </p>
                        <ul class="leonardo-list project-list">
                            <li>
                                <span class="text-font text-semibold">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                </span>
                            </li>
                            <li>
                                <span class="text-font text-semibold">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                </span>
                            </li>
                            <li>
                                <span class="text-font text-semibold">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                </span>
                            </li>
                            <li>
                                <span class="text-font text-semibold">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                </span>
                            </li>
                            <li>
                                <span class="text-font text-semibold">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                </span>
                            </li>
                            <li>
                                <span class="text-font text-semibold">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>