<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | Team Member</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <section class="content">
            <div class="container">
                <div class="content-wrap">
                    <div class="member">
                        <div class="face">
                            <img src="img/content/team-face.jpg" alt="face">
                        </div>
                        <div class="social">
                            <a class="social-link" href="#">
                                <img src="img/ui/icon-mail.png" alt="mail">
                            </a>
                            <a class="social-link" href="#">
                                <img src="img/ui/icon-in.png" alt="in">
                            </a>
                            <a class="social-link" href="#">
                                <img src="img/ui/icon-twitter.png" alt="twitter">
                            </a>
                        </div>
                    </div>
                    <div class="member-about">
                        <h1 class="name">
                            Nat Wilkes
                        </h1>
                        <p class="status">
                            Ringleader
                        </p>
                        <hr class="member-line">
                        <div class="social mobile">
                            <a class="social-link" href="#">
                                <img src="img/ui/icon-mail.png" alt="mail">
                            </a>
                            <a class="social-link" href="#">
                                <img src="img/ui/icon-in.png" alt="in">
                            </a>
                            <a class="social-link" href="#">
                                <img src="img/ui/icon-twitter.png" alt="twitter">
                            </a>
                        </div>
                        <p class="member-desc text-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ratio quidem vestra sic cogit. Quis Aristidem non mortuum diligit? Iubet igitur nos Pythius Apollo noscere nosmet ipsos. Sit enim idem caecus, debilis. Duo Reges: constructio interrete. Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum.
                        </p>
                        <p class="member-desc text-font">
                            Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Si longus, levis dictata sunt. Scripta sane et multa et polita, sed nescio quo pacto auctoritatem oratio non habet. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Ratio quidem vestra sic cogit.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>