<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leonardo | Team</title>
    {% include "partials/head.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <section class="content">
            <div class="container">
                <div class="content-wrap">
                    <div class="team-logo">
                        <img src="img/content/team-logo.png" alt="logo" class="team-logo_img">
                        <img src="img/content/team-logo-shadow.png" alt="shadow" class="team-logo_shadow">
                    </div>
                    <div class="team-desc">
                        <h1 class="title-page">
                            Our Team
                        </h1>
                        <hr class="team-line">
                        <p class="member-desc text-font">
                            We’re a team of makers that weren’t satisfied with the rendering services we were using. We created Leonardo to simplify the process by taking rendering completely off our plate and leaving it in the cloud. 
                        </p>
                        <p class="member-desc text-font">
                            Our team’s past experience with blockchain started some interesting
                            conversations about how rendering could be reimagined if we leveraged 
                            the world’s computing power. 
                        </p>
                        <p class="member-desc text-font text-semibold">
                            And thus, Leonardo was born.
                        </p>
                    </div>
                    <div class="team-list">
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face1.jpg" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face2.jpg" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face3.png" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-el">
                            <div class="team-el_img">
                                <img src="img/content/team-face4.png" alt="face">
                            </div>
                            <div class="team-el_info">
                                <hr class="info-line">
                                <p class="info-name">
                                    Leonardo
                                </p>
                                <p class="info-status">
                                    Founder
                                </p>
                                <p class="info-desc text-font">
                                    Lorem ipsum dolor sit amet, magna su consectetur adipiscing elit erat.
                                </p>
                                <div class="info-btn">
                                    <a href="teamMember.html">
                                        View Bio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>