<footer>
    <div class="footer">
        <div class="footer-wrap">
            <ul class="footer-links">
                <li>
                    <a href="#">
                        Join Our Team
                </li>
                <li>
                    <a href="#">
                        Share Your Work
                    </a>
                </li>
                <li>
                    <a href="#">
                        What is an ICO?
                    </a>
                </li>
            </ul>
            <form class="subscribe">
                <p class="subscribe-desc">
                    Subscribe to Receive Updates 
                </p>
                <div class="form-group">
                    <input type="email" class="subscribe-input" placeholder="Enter Email Address" required>
                    <button class="subscribe-button">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</footer>