<header>
    <div class="header">
        <div class="header-wrap">
            <a href="index.html" class="logo">
                <img src="img/content/logo-header.png" alt="logo">
            </a>
            <div class="menu-list-wrap">
                <ul class="menu-list">
                    <li class=" menu-item">
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li class=" menu-item ">
                        <a href="about.html">
                            About
                        </a>
                    </li>
                    <li class=" menu-item">
                        <a href="team.html">
                            Our Team
                        </a>
                    </li>
                    <li class=" menu-item">
                        <a href="downloads.html">
                            Downloads
                        </a>
                    </li>
                    <li class=" menu-item">
                        <a href="tutorial.html">
                            Tutorials
                        </a>
                    </li>
                    <li class=" menu-item current-menu-item">
                        <a href="portfolio.html">
                            Portfolio
                        </a>
                    </li>
                    <li class=" menu-item">
                        <a href="faq.html">
                            FAQ
                        </a>
                    </li>
                    <li class=" menu-item">
                        <a href="contact.html">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu-box">
                <img src="img/ui/menu.png" alt="menu">
            </div>
            <div class="download-header-btn">
                <a class="download_link" href="#">Download</a>
            </div>
        </div>
    </div>
</header>